{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="row pt-3 pl-5 pr-5">
        <br>وبلاگ سخن بر اساس شفافیت و آزادی سخن توسعه یافته است. برای اینکه بتوانید پست ها و نظرات را بپسندید و یا نظر
        خود را در سایت قرار دهید، بایستی در سایت ثبت نام کرده باشید.<br>
        پس از ثبت نام شما به صورت پیش فرض عضو گروه کاربری ساده هستید که فقط می توانید پست ها و نظرات را بپسندید و نظر
        بگذارید.<br>
        در صورتی که می خواهید ارتقا کاربری داشته باشید بایستی درخواست خود را ثبت کنید. پس از بررسی مدیر و در صورت تایید
        مدیر سایت شما می توانید به عنوان گروه کاربری با دسترسی بیشتر فعالیت کنید.<br>
        <br><br>
        <div class="col-12 p-5 mr-5 d-flex justify-content-end">با تشکر، مدیر<i style="color:red" class="fa fa-smile-o fa-2x"
                                                                                         aria-hidden="true"></i>
        </div>


    </div>

</div>

{% endblock %}