{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
{% if posts_in_cat %}
<div class="container text-right">
    <div class="row pt-5">

        <div class="col-2">
            <div class="navi">
                <h6>دسته بندی مطالب</h6>

                <ul class="list-unstyled">
                    {% for ii in categories %}

                    <li><a href="{% url 'blog:post_category' ii.id %}"> {{ii }}</a></li>

                    {% endfor %}
                </ul>
            </div>
        </div>



        <div class="col-9">

            {% for item in posts_in_cat %}
            <div class="card mb-3">
                <a class="text-decoration-none" href="{% url 'blog:show_post' item.id %}">
                    <div class="row">

                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title text-right">{{item.title}}</h5>
                                <p class="card-text text-right" style="height:150px;  white-space: nowrap;  overflow: hidden;
                    text-overflow: ellipsis;">{{item.text}}</p>
                                <span class="card-text"><small
                                        class="text-muted">{{item.created_at|convert_to_jdate}} , </small></span>
                                <span class="card-text"><small
                                        class="text-muted">نویسنده: {{item.user.first_name}}</small></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img class="w-100 h-100" src="/media/{{item.image}}"
                                 alt="گشتیم ولی عکسی نبود لطفا اصرار نکن!!!">
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% else %}
<p>nist</p>
{% endif %}
{% endblock %}
