{% extends "base.html" %}
{% load custom_tags %}
{% block content %}

<div class="container">
    {% if posts %}
    {% for post in posts %}
    {% if post.activated and post.verificated %}

    <a class="text-decoration-none m-5" href="{% url 'blog:show_post' post.id %}">

        <div class="row justify-content-center">

            <div class="col-10 d-flex align-items-end border rounded"
                 style="background-image: url(/media/{{post.image }});background-repeat:no-repeat;background-size:cover; height:250px">

                <div class="mb-5 ml-2 mr-3"><img class="rounded-circle" style="width:40px;height:40px"
                                            src="/media/{{post.user.userinfo.image}}" alt="555"></div>

                <div class="card-body text-right">

                    <h4 class="card-title">{{post.title}}</h4>
                    <h6>{{post.user.username}}</h6>
                    <p class="card-text"><small class="">{{post.created_at|convert_to_jdate}}</small></p>
                </div>

            </div>


        </div>
    </a>
    {% endif %}
    {% endfor %}
    {% else %}
    <p> nist </p>
    {% endif %}
</div>

{% endblock %}