{% extends "base.html" %}

{% block content %}
{% if posts %}
{% for item in posts %}


<div class="card mb-5 bg-dark">
    <a class="text-decoration-none" href="{% url 'blog:show_post' item.id %}">
        <img class="card-img-top" src="{{item.image}}" alt="عکس پیدا نشد">
        <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.text}}</p>
            <p class="card-text"><small class="text-muted">{{item.pub_date}}</small></p>
            <p class="card-text"><small class="text-muted">نویسنده: {{item.user.first_name}}</small></p>
        </div>
    </a>
</div>

{% endfor %}


{% else %}
<p>nist</p>
{% endif %}
{% endblock %}
