{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
{% if posts %}
<div class="container text-right">
    <div class="row pt-5">
        <div class="col-3">

            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">دسته بندی مطالب</div>
                <div class="card-body text-secondary">
                    <ul class="list-unstyled p-0">
                        {% for c in categories %}

                            {% if c.category %}
                                {% if not c.category.category %}
                                <ul class="list-unstyled pr-3">
                                    <li><a href="{% url 'blog:posts_in_category' c.id %}"> {{c }}</a></li>
                                </ul>
                                {% else %}
                                <ul class="list-unstyled pr-5">
                                    <li><a href="{% url 'blog:posts_in_category' c.id %}"> {{c }}</a></li>
                                </ul>
                                {% endif %}

                            {% else %}
                            <li><a href="{% url 'blog:posts_in_category' c.id %}"> {{c }}</a></li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>


        <div class="col-9">

            {% for item in posts %}
            {% if item.activated and item.verificated %}
            <div class="card mb-4">
                <a class="text-decoration-none" href="{% url 'blog:show_post' item.id %}">
                    <div class="row ml-0 mr-0">


                        <div class="col-md-8">


                            <div class="card-body">


                                <img style="width:50px" class="rounded-circle" src="/media/{{item.user.userinfo.image}}"
                                     alt="555">

                                <span class="">

                                    {{ item.user.first_name}}
                                    {{item.user.last_name }}

                                </span>

                                <h5 class="card-title text-right">{{item.title}}</h5>
                                <p class="card-text text-right" style="height:5rm;  white-space: nowrap;  overflow: hidden;
                    text-overflow: ellipsis;">{{item.text}}</p>
                                <span class="card-text"><small
                                        class="text-muted">{{item.created_at|convert_to_jdate}} , </small></span>
                                <span class="card-text"><small
                                        class="text-muted">نویسنده: {{item.user.first_name}}</small></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img class="w-100 h-100" src="/media/{{item.image}}"
                                 alt="گشتیم ولی عکسی نبود لطفا اصرار نکن!!!">
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>

    </div>
</div>
{% else %}
<p>nist</p>
{% endif %}
{% endblock %}
