{% extends "base.html" %}
{% load bootstrap %}
{% block sidebar %} {% endblock %}
{% block content %}
<div class="container text-right w-50 mt-2" style="height:60vh">

    <form class="" action="{% url 'login' %}" method="POST">
        {% csrf_token %}

        {{ form | bootstrap }}
        {% if next %}
        <input type="hidden" name="next" value="{{ next }}">
        {% else %}
        <input type="hidden" name="next" value="/blog/">
        {% endif %}
        <label for="user-group">گروه کاربری</label>
        <select id="user-group" name="user-group" class="form-control">
            {% for choice in group.objects.all %}
            <option>{{choice}}</option>
            {{choice}}
            {% endfor %}
        </select>

        <div class="d-flex mt-3 justify-content-center">
            <button type="submit" class="btn btn-primary m-2">ورود</button>
            <a type="button" href="{% url 'blog:signup' %}" class="btn btn-primary m-2">ثبت نام</a>
        </div>


    </form>

</div>
{% endblock %}