
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -50px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 70px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: -10px; /* On mouse-over, make the elements appear as they should */
}
#mySidenav2 div {
  position: absolute; /* Position them relative to the browser window */
  right: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 5px; /* 15px padding */
  width: 200px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 5px 0 0 5px; /* Rounded corners on the top right and bottom right side */
}

#mySidenav2 div:hover {
  right: -10px; /* On mouse-over, make the elements appear as they should */
}

#about2 {
  top: 0px;
  background-color: #4CAF50;
}
/* The about link: 20px from the top with a green background */
#about  {
  top: 20px;
  background-color: #4CAF50;
}

#blog {
  top: 90px;
  background-color: #2196F3; /* Blue */
}

#projects {
  top: 160px;
  background-color: #f44336; /* Red */
}

#contact {
  top: 230px;
  background-color: #555 /* Light Black */
}


//////////////////////////////////////////


.hamburger {

  //position: absolute;
 // margin: 50px;
  z-index: 1;
  cursor: pointer;
}


.menu {
  width: 250px;
  height: 100%;
  background: #BCAD90;
  position: absolute;
  top: 0;
  right: -200px;
  transition: right 0.7s;
}

.menu-item:first-child {
  margin-top: 0px;
}

.menu--open {
  right: 0;
}

.menu-item {
  color: #fff;
  width: 100%;
  //padding: 1rem 3rem;
  box-sizing: border-box;
}

.menu-item:hover {
  background: #91966E;
  cursor: pointer;
}




//////////////////////////


#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.active {
  display: block;
}